*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
}


/**Navbar start**/
header{
    width: 100%;
    padding: 15px;
}
nav{
    display: flex;
}
ul {
    display: flex;
}

/**Navbar End**/