{% extends "layout.html" %}


{% block content %}

<h2>Class Offerings</h2>
<div>
    <table>
        <thead>
            <th>ClassID</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Duration</th>
            <th>Enroll</th>
        </thead>
        <tbody>
            <tr>
            <td>101</td>
            <td>Hot Yoga</td>
            <td>Jammin Tammy</td>
            <td>30 mins</td>
            <td>101</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}