{% extends "layout.html" %}


{% block content %}

<h2>Class Offerings</h2>
<h3>Season: {{term}}</h3>
<div>
    <table>
        <thead>
            <th>ClassID</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Duration</th>
            <th>Enroll</th>
        </thead>
        <tbody>
            {% for data in classData %}

            <tr>
            <td >{{ data["classID"] }}</td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["instructor"] }}</td>
            <td>{{ data["duration"] }}</td>
            <td>
                <form action="{{url_for('enrollment')}}" method="GET">
                    <input type="hidden" name="classID" value="{{data['classID']}}">
                    <input type="hidden" name="title" value="{{data['title']}}">
                    <input type="hidden" name="instructor" value="{{data['instructor']}}">
                <button>Enroll</button>
            </form>

            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}