
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>

{% include "includes/navbar.html" %}


    <h2>With the new index setup</h2>
    {% if login %}
    <h2>Lets Grow A New You</h2>
    {% else %}
    <p>Already Registered? <a href="{{ url_for('login') }}">Login</a></p>

    {% endif %}


{% include "includes/footer.html" %}

</body>
</html>